body{
    background-color: rgb(238, 237, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#cabecalho{
    background-color: rgb(94, 0, 0);
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#logo{
    color: #ffffff;
    margin-left: 20px;
    font-size: 2.2rem;
}
#titulo{
    text-align: center;
    margin: 0.3em 0 1em;
    color: rgb(94, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
}

.area-texto{
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-left: 10%;
      
    
}
textarea{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    resize:none;
    background-color: transparent;
    border: solid 1px transparent;
    font-family: Arial, Helvetica, sans-serif;
    
}

textarea:focus{
    outline:none;
}

#bloco-mensagem{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 70px;
    width: 30%;
    height: 300px;    
}

.mostra-mensagem{
    position: flex;
    box-sizing: border-box;
    padding: 25px;
    height: 300px;
    color: #ffffff;
    background: rgb(94, 0, 0);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
               
}


#img-procuramensagem{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
          
}


#botoes{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 40%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 3%;
    
}

#botao-copy{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 30%;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
    
}

.botao {
    background: rgb(94, 0, 0);
    border: solid #762C2C 1px;
    text-decoration: none;
    box-shadow: 1px 1px 6px 0px #703b3b;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 1px 1px 6px #000000;

    
}
.botao:hover{
       border: solid #ED3333 1px;
       background: #d65b5b;
       border-radius: 20px;
       text-decoration: none;
}


footer{
    display:flex;
    justify-content: center;
    width: 100%;
    background-color:rgba(255, 0, 0, 0.2);
    padding: 10px 0;
}
.rodape{

    display:flex;
    align-items:center;
    color: rgb(94, 0, 0);
    font-size:0.9rem;
    
}
.rodape p{
    margin: 0 5px 0 0;
}

.img-footer{
    display:inline-block;
    width: 20px;
    height: 20px;
    vertical-align:middle;
    margin-right: 5px;
  

}
#info{
    text-align: center;
    padding: 20px;
    color: rgb(94, 0, 0);
    font-size: 0.9rem;  
    margin-right: 0;
    
}

@media screen and (max-width:480px){

    #bloco-mensagem{
        width: 100%;
        margin: 0 auto 1em;
        padding: 0 8%
    }

    #botoes{
        width:auto;
        margin: 0 8% 1em;
    }
    #botao-copy{
        width: 100%;
        margin: 0 auto 1em;
    }
    

}

@media screen and (max-width:810px){
    
    .area-principal{
        padding: 0 8%;
    }
    .area-texto{
        width: 100%;
        margin: auto;
        
    }

    #bloco-mensagem{
        width: 100%;
        margin: 0 auto 1em;
        
    }


}